.scales {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #b59e58;
  border-radius: 10px;
}

.column {
  display: block;
  width: 290px;
  margin: 0 auto;
  height: auto;
  margin-top: -15px;
}

.element__numbers {
  font-weight: 600;
  font-size: 18px;

  padding: 2px 10px;
  background-color: #c2b981;
  border-radius: 4px;
}

.element {
  width: 12px;
  height: 19px;
  border: 2px solid rgb(59, 57, 55);
  border-radius: 100% / 90%;

  margin: 0 auto;
  background-color: #c2b981;
  margin-top: 8px;
  cursor: pointer;
}

section {
  display: flex;
  justify-content: space-around;
  margin-top: -40px;
}

h1 {
  padding-bottom: 10px;
}

.title {
  display: block;
  margin-bottom: 10px;
  text-align: center;
  padding: 100px 0 15% 0;
}

img {
  width: 25px;
}

.images {
  width: 250px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.btn {
  height: 50px;
  width: 150px;
  display: block;
  background-color: rgb(156, 97, 214);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 auto;
  margin-top: 20px;
}

.btn:hover {
  background-color: rgb(176, 121, 231);
}

.buttons {
  width: 300px;
  display: flex;
   gap: 10px;
}
