* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url('./assets/imgs/background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
